name: 'borg_backup_checks'

services:

  play:
    image: ovski/ansible:v2.20.0
    volumes:
      - ./:/var/www/ansible
      - ./hosts:/etc/ansible/hosts
      - ${SSH_KEY}:/etc/ansible/ssh_private_key_file:ro
    command: >
      ansible-playbook /var/www/ansible/main.yml
        -e mail_host=${MAIL_HOST}
        -e mail_port=${MAIL_PORT}
        -e mail_password=${MAIL_PASSWORD}
        -e mail_from=${MAIL_FROM}
        -e mail_to=${MAIL_TO}
        -e borg_repository_parent_folder=${BORG_REPOSITORY_PARENT_FOLDER}
        -e borg_repository_nextcloud_passphrase=${BORG_REPOSITORY_NEXTCLOUD_PASSPHRASE}
        -e borg_repository_jellyfin_passphrase=${BORG_REPOSITORY_JELLYFIN_PASSPHRASE}
    environment:
      ANSIBLE_HOST_KEY_CHECKING: "False"
    profiles: [ansible]
