name: 'borg_backup_checks'

services:

  play:
    image: ovski/ansible:v2.20.0
    volumes:
      - ./:/var/www/ansible
      - ./hosts:/etc/ansible/hosts
      - ${SSH_KEY}:/root/.ssh/id_rsa
    command: >
      ansible-playbook /var/www/ansible/main.yml
      -e backup_user=${BACKUP_USER}
      -e borg_repository_parent_folder=${BORG_REPOSITORY_PARENT_FOLDER}
      -e borg_repository_nextcloud_passphrase=${BORG_REPOSITORY_NEXTCLOUD_PASSPHRASE}
      -e borg_repository_baptiste_accounts_passphrase=${BORG_REPOSITORY_BAPTISTE_ACCOUNTS_PASSPHRASE}
      -e borg_repository_semaphore_passphrase=${BORG_REPOSITORY_SEMAPHORE_PASSPHRASE}
      -e borg_repository_jellyfin_passphrase=${BORG_REPOSITORY_JELLYFIN_PASSPHRASE}
      -e borg_repository_elasticsearch_passphrase=${BORG_REPOSITORY_ELASTICSEARCH_PASSPHRASE}
    environment:
      ANSIBLE_HOST_KEY_CHECKING: "False"
    profiles: [ansible]
