- name: Assert mandatory variables are defined
  assert:
    that:
      - borg_repository_name is defined
      - borg_repository_passphrase is defined
      - borg_repository_parent_folder is defined

- name: List borg backups
  ansible.builtin.command:
    cmd: "borg list {{ borg_repository_name }}"
    chdir: "{{ borg_repository_parent_folder }}"
  environment:
    BORG_PASSPHRASE: "{{ borg_repository_passphrase }}"
  changed_when: false
  register: backup_list

## Start check 1 - Check if the last borg backup is recent enough (today or yesterday)
- name: Get the last borg backup name
  ansible.builtin.set_fact:
    last_borg_backup_name: "{{ backup_list.stdout_lines[-1].split()[0] }}"

- name: Set date variables
  ansible.builtin.set_fact:
    last_borg_backup_date: "{{ last_borg_backup_name | regex_replace('.*_([0-9]{4}-[0-9]{2}-[0-9]{2})_.*', '\\1') }}"
    today: "{{ lookup('pipe', 'date -u +%Y-%m-%d') }}"
    yesterday: "{{ lookup('pipe', 'date -u -d yesterday +%Y-%m-%d') }}"

- name: "Set whether or not the last backup is recent enough"
  ansible.builtin.set_fact:
    last_borg_backup_is_recent: "{{ last_borg_backup_date in [today, yesterday] }}"

- name: Fail if last backup is older than yesterday
  ansible.builtin.fail:
    msg: "Last backup is too old: {{ last_borg_backup_date }}"
  when: not last_borg_backup_is_recent
## End check 1

- name: Creates mount_point directory
  ansible.builtin.file:
    path: "{{ borg_repository_parent_folder | regex_replace('\\/$', '') }}/mount_point"
    state: directory

## Start check 2 - Check if the last dump inside the last borg backup is recent enough (today or yesterday)
- name: Mount the last backup from the list
  ansible.builtin.command:
    cmd: "borg mount {{ borg_repository_name }}::{{ last_borg_backup_name }} mount_point"
    chdir: "{{ borg_repository_parent_folder }}"
  environment:
    BORG_PASSPHRASE: "{{ borg_repository_passphrase }}"

- name: Get the last dump file name
  ansible.builtin.shell:
    cmd: "ls -t *.sql | head -n1"
    chdir: "{{ borg_repository_parent_folder | regex_replace('\\/$', '') }}/mount_point/{{ borg_repository_dump_path | regex_replace('^\\/', '') }}"
  register: last_dump_file_name_command
  changed_when: false

- name: Get the last dump file created date
  ansible.builtin.shell:
    cmd: "stat -c %y *.sql | cut -d' ' -f1 | sort | tail -n1"
    chdir: "{{ borg_repository_parent_folder | regex_replace('\\/$', '') }}/mount_point/{{ borg_repository_dump_path | regex_replace('^\\/', '') }}"
  register: last_dump_date_command
  changed_when: false

- name: "Set whether or not the last dump is recent enough"
  ansible.builtin.set_fact:
    last_dump_is_recent: "{{ last_dump_date_command.stdout in [today, yesterday] }}"

- name: Fail if last dump is older than yesterday
  ansible.builtin.fail:
    msg: "Last dump is too old: {{ last_dump_date_command.stdout }}"
  when: not last_dump_is_recent
## End check 2

## Start check 3 - Check if the comment at the end of the dump matches the last dump file date
- name: Get the last line from the last dump
  ansible.builtin.shell:
    cmd: "tail -n 1 {{ last_dump_file_name_command.stdout }}"
    chdir: "{{ borg_repository_parent_folder | regex_replace('\\/$', '') }}/mount_point/{{ borg_repository_dump_path | regex_replace('^\\/', '') }}"
  register: dump_last_line_command
  changed_when: false

- name: Set the dump last comment date
  ansible.builtin.set_fact:
    last_dump_comment_date: "{{ dump_last_line_command.stdout | regex_replace('.*Dump completed on ([0-9]{4}-[0-9]{2}-[0-9]{2}).*', '\\1') }}"

- name: Fail if last dump comment date doesn't match with the last dump file date
  ansible.builtin.fail:
    msg: "Comment from last dump doesn't match with the dump file date."
  when: last_dump_comment_date != last_dump_date_command.stdout
## End check 3

- name: Unmount the mount point
  ansible.builtin.command:
    cmd: "borg umount mount_point"
    chdir: "{{ borg_repository_parent_folder }}"
