- name: "{{ borg_repository_name }} - Assert mandatory variables are defined"
  assert:
    that:
      - borg_repository_name is defined
      - borg_repository_passphrase is defined
      - borg_repository_parent_folder is defined

- name: "{{ borg_repository_name }} - List borg backups"
  ansible.builtin.command:
    cmd: "borg list {{ borg_repository_name }}"
    chdir: "{{ borg_repository_parent_folder }}"
  environment:
    BORG_PASSPHRASE: "{{ borg_repository_passphrase }}"
  changed_when: false
  register: backup_list

## Start check 1 - Check if the last borg backup is recent enough (today or yesterday)
- name: "{{ borg_repository_name }} - Get the last borg backup name"
  ansible.builtin.set_fact:
    last_borg_backup_name: "{{ backup_list.stdout_lines[-1].split()[0] }}"

- name: "{{ borg_repository_name }} - Set date variables"
  ansible.builtin.set_fact:
    last_borg_backup_date: "{{ last_borg_backup_name | regex_replace('.*_([0-9]{4}-[0-9]{2}-[0-9]{2})_.*', '\\1') }}"
    today: "{{ lookup('pipe', 'date -u +%Y-%m-%d') }}"
    yesterday: "{{ lookup('pipe', 'date -u -d yesterday +%Y-%m-%d') }}"

- name: "{{ borg_repository_name }} - Set whether or not the last backup is recent enough"
  ansible.builtin.set_fact:
    last_borg_backup_is_recent: "{{ last_borg_backup_date in [today, yesterday] }}"

- name: "{{ borg_repository_name }} - Fail if last backup is older than yesterday"
  ansible.builtin.fail:
    msg: "Last backup is too old: {{ last_borg_backup_date }}"
  when: not last_borg_backup_is_recent
## End check 1

## Start check 2 - Verifies the consistency of a repository and its archives.
#  https://borgbackup.readthedocs.io/en/stable/usage/check.html
- name: "{{ borg_repository_name }} - Get current time"
  ansible.builtin.set_fact:
    time_before_check: "{{ lookup('pipe', 'date \"+%Y-%m-%d %H:%M:%S\"') }}"

- name: "{{ borg_repository_name }} - Print time before borg check"
  debug:
    msg: "Time before check: {{ time_before_check }}"

- name: "{{ borg_repository_name }} - Check borg backup"
  ansible.builtin.command:
    cmd: "borg check {{ borg_repository_name }}"
    chdir: "{{ borg_repository_parent_folder }}"
  environment:
    BORG_PASSPHRASE: "{{ borg_repository_passphrase }}"
  changed_when: false

- name: "{{ borg_repository_name }} - Get current time"
  ansible.builtin.set_fact:
    time_after_check: "{{ lookup('pipe', 'date \"+%Y-%m-%d %H:%M:%S\"') }}"

- name: "{{ borg_repository_name }} - Print time after borg check"
  debug:
    msg: "Time after check: {{ time_after_check }}"
## End check 2

- name: "{{ borg_repository_name }} - Set the mount point folder path as fact"
  ansible.builtin.set_fact:
    mount_point_path: "{{ borg_repository_parent_folder | regex_replace('\\/$', '') }}/mount_point"

- name: "{{ borg_repository_name }} - Creates mount_point directory"
  ansible.builtin.file:
    path: "{{ mount_point_path }}"
    state: directory

- name: "{{ borg_repository_name }} - Mount the last backup from the list"
  ansible.builtin.command:
    cmd: "borg mount {{ borg_repository_name }}::{{ last_borg_backup_name }} mount_point"
    chdir: "{{ borg_repository_parent_folder }}"
  environment:
    BORG_PASSPHRASE: "{{ borg_repository_passphrase }}"

## Start check 3 - Check if the last dump inside the last borg backup is recent enough (today or yesterday)
- block:
    - name: "{{ borg_repository_name }} - Get the last dump file name"
      ansible.builtin.shell:
        cmd: "ls -t *.sql | head -n1"
        chdir: "{{ mount_point_path }}/{{ item.sql_dump_folder_path | regex_replace('^\\/', '') }}"
      register: last_dump_file_name_command
      changed_when: false

    - name: "{{ borg_repository_name }} - Get the last dump file created date"
      ansible.builtin.shell:
        cmd: "stat -c %y *.sql | cut -d' ' -f1 | sort | tail -n1"
        chdir: "{{ mount_point_path }}/{{ item.sql_dump_folder_path | regex_replace('^\\/', '') }}"
      register: last_dump_date_command
      changed_when: false

    - name: "{{ borg_repository_name }} - Set whether or not the last dump is recent enough"
      ansible.builtin.set_fact:
        last_dump_is_recent: "{{ last_dump_date_command.stdout in [today, yesterday] }}"

    - name: "{{ borg_repository_name }} - Fail if last dump is older than yesterday"
      ansible.builtin.fail:
        msg: "Last dump is too old: {{ last_dump_date_command.stdout }}"
      when: not last_dump_is_recent
  when: item.sql_dump_folder_path is defined
## End check 3

## Start check 4 - Check if  files exist in the last borg backup
- block:
    - name: "{{ borg_repository_name }} - Register stats on file"
      stat:
        path: "{{ mount_point_path }}{{ file_path }}"
      register: file_path_stats
      loop: "{{ item.file_paths_to_check }}"
      loop_control:
        loop_var: file_path

    - name: "{{ borg_repository_name }} - Fail if some witness files are missing"
      ansible.builtin.fail:
        msg: "File {{ file_path_stat.invocation.module_args.path }} is missing in the last borg backup {{ last_borg_backup_name }}"
      when: not file_path_stat.stat.exists
      loop: "{{ file_path_stats.results }}"
      loop_control:
        loop_var: file_path_stat
        label: "{{ file_path_stat.invocation.module_args.path }}"
  when: item.file_paths_to_check is defined
## End check 4

- name: "{{ borg_repository_name }} - Unmount the mount point"
  ansible.builtin.command:
    cmd: "borg umount mount_point"
    chdir: "{{ borg_repository_parent_folder }}"
